a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #f59e0b;
  text-decoration: none;
}

.text-orange {
  color: #f59e0b !important;
  fill: #f59e0b !important;
}

.player-scrub {
  width: calc(100% - 20px);
}

.top-neg-8 {
  top: -8px;
}

.player-song-info {
  margin-top: -24px;
}

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}

#playlist li:first-child {
  padding-top: 25px;
}

.upload-dropbox.upload-dropbox-drag {
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

input[type="file"] {
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  background-image: url(/public/assets/img/song-header.png);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4000px 0;
  }
}

/******** Dropdown with search ******************/
/* The search field */
#newTagInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#newTagInput:focus {
  outline: 3px solid #ddd;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  margin-top: 35px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the 
.dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/******** Modal with loading animation ******************/
/* Turn the scrollbar off with overflow:hidden
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.sp-block-ui {
  display: block;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("slavo-loader.gif") 50% 50% no-repeat;
}
